.App {
    text-align: center;
}

.loader {
    margin-top: 10px;
}

.users {
    display: flex;
    max-width: 1260px;
    margin: 10px auto 0;
    padding: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.user-card {
    border: 1px solid rgba(72, 72, 72, 0.199);
    height: 50px;
    width: 150px;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    background-color: aliceblue;
}